MONGO_URI=mongodb+srv://your_username:your_password@cluster.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=your_secret_key_here
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5000
PORT=5000
